@import "./components/materias";
@import "./components/filtros";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos raiz*/
body {
  min-height: 100vh;
  background: linear-gradient(rgb(63, 71, 204), #1d206b);
}
/* Estilos raiz*/
