footer {
    background-color: black;
    color: white;
    max-width: 100vw;
    height: 30vh;
    padding: 30px;

    h3,
    p {
        font-family: "Nunito Sans", sans-serif;
    }

    h3 {
        font-size: 30px;
    }

    nav {
        width: 40%;
        ul {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            list-style: none;
            li {
                font-size: 30px;
                .fa-linkedin {
                    color: #0015ff;
                }
                .fa-whatsapp {
                    color: #25d366;
                }
                .fa-envelope {
                    color: red;
                }
                .fa-discord {
                    color: #5865f2;
                }
            }
        }
    }

    @keyframes moveIcons {
        0% {
            transform: rotateZ(0deg);
        }
        25% {
            transform: rotateZ(15deg);
        }
        50% {
            transform: rotateZ(0deg);
        }
        75% {
            transform: rotateZ(-15deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }
}
