header {
  background-color: #000000eb;
  width: 100%;
  padding: 5px 10px;

  nav {
    width: 50%;
    @include d-flex(row, start, center, 0, 0);

    ul {
      list-style: none;
      text-decoration: none;
      @include d-flex(row, start, center, 0, 0);

      li {
        padding: 3px 5px;
        margin: 0px 3px;
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
          background-color: white;
          a {
            color: black;
          }
        }

        a {
          color: white;
          margin: 0 5px;
          @include d-flex(row, start, center, 0, 0);
          font-size: 20px;
          font-family: "Nunito Sans", sans-serif;
        }
      }
    }
  }
}
