header {
  width: 100%;

  nav {
    padding: 5px 10px;
    background-color: #000000eb;
    width: 100%;
    // @include d-flex(row, center, center, 0, 0);

    @media (max-width: 500px) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100dvh;
      width: min(15rem, 100%);
      z-index: 3;
      border: 1px solid gray;

      ul {
        width: 100%;
        @include d-flex(column, center, start, 0, 0);
        // li:nth-child(2) {
        //   margin-right: 0;
        //   margin: 0;
        //   a {
        //     margin: 0 0;
        //   }
        // }
        li {
          padding: 0px;
          margin: 0px;
          a {
            margin: 0px 0px;
          }
        }
      }
      a {
        width: 100%;
        margin: 0;
      }
    }

    ul {
      list-style: none;
      text-decoration: none;
      display: flex;

      li:nth-child(1) {
        margin-right: auto;
      }

      li {
        border-radius: 10px;
        margin: 0px 3px;
        padding: 3px 5px;
        transition: 0.5s;
        @include d-flex(row, center, center, 0, 0);

        &:hover {
          background-color: white;
          a {
            color: black;
          }
        }

        a {
          color: white;
          font-size: 20px;
          font-family: "Nunito Sans", sans-serif;
          margin: 0 5px;
          @include d-flex(row, start, center, 0, 0);
        }
      }
    }
  }
}
