/* Materias */
#materias {
  @include d-flex(column, center, center, 0, 0);

  width: 100%;

  #materias__content {
    background-color: #8a13d7;
    border-radius: 5px;
    border: 5px solid #150227;
    box-shadow: 10px 10px 10px black;
    width: 60%;
    font-family: "Nunito Sans", sans-serif;
    padding-top: min(1rem, 8%);
    padding-bottom: min(1rem, 8%);
    padding-left: min(1rem, 8%);
    padding-right: min(1rem, 8%);
    margin-top: 0.625rem;
    @include d-flex(column, center, start, 0, 0);

    @media (max-width: 1200px) {
      width: 80%;
    }
    @media (max-width: 768px) {
      box-shadow: none;
      width: 98%;
    }
    @media (max-width: 576px) {
      box-shadow: none;
      width: 98%;
    }

    h1 {
      font-size: clamp(1rem, calc(1vw + 1rem), 2.3rem);
    }

    h2 {
      font-size: clamp(0.8rem, calc(1vw + 0.8rem), 2rem);
      margin-bottom: 0.9rem;
    }

    h1,
    h2 {
      display: grid;
      align-self: center;
    }

    h1,
    h2,
    h3,
    p,
    u,
    strong,
    span,
    i {
      font-family: "Nunito Sans", sans-serif;
      color: white;
    }

    p {
      font-size: clamp(0.8rem, calc(0.5vw + 0.8rem), 1.8rem);
    }

    span {
      color: white;
      font-size: clamp(0.6rem, calc(0.5vw + 0.6rem), 1.6rem);
      margin-top: 0.313rem;
      @include d-flex(row, start, center, 0, 0);

      a {
        color: white;
        margin-right: 0.313rem;
        text-decoration: underline;

        .materias__content-icon {
          height: 5px;
          width: 5px;
        }
      }
    }
  }

  #materias__filtros {
    background-color: black;
    border-radius: 2px;
    color: #ffffff;
    margin-top: min(1.5rem, 10%);
    margin-bottom: min(1.5rem, 10%);
    width: 30%;
    padding: min(1.25rem, 8%);
    @include d-flex(column, center, start, 0, 0);

    @media (max-width: 1200px) {
      width: 40%;
    }
    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 576px) {
      width: 60%;
    }

    .filtros__inputs {
      font-size: clamp(0.8rem, calc(0.5vw + 0.8rem), 1.8rem);
      @include d-flex(column, center, start, 0, 0);
      label {
        appearance: none;
        @include d-flex(row, start, center, 0, 0);
      }

      input[type="checkbox"] {
        appearance: none;
        background-color: rgb(218, 214, 214);
        border-radius: 2px;
        border: 1px solid #606060;
        cursor: pointer;
        margin-right: 0.25rem;
        height: min(1rem, 2.5rem);
        width: min(1rem, 2.5rem);
      }

      input[type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%230a6600' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
      }
    }
  }

  #materias__lista {
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0 40px 0;
    padding: 2rem;
    @include d-flex(row, space-evenly, center, 1.25rem, 1.875rem);
    
    @media (max-width: 1300px) {
      padding: 0 3.5rem;
      row-gap: 1.1rem;
    }

    @media (max-width: 1219px) {
      column-gap: 1rem;
      padding: 0 5rem;
      row-gap: 1.25rem;
    }

    @media (max-width: 768px) {
      padding: 0 1rem;
    }

    @media (max-width: 370px) {
      padding: 0 0.1rem;
    }

    li {
      list-style: none;

      div.materias__item {
        background: linear-gradient(45deg, #06033e, #1f16c8);
        box-shadow: 0px 0px 10px black;
        border-radius: 12px;
        border: 3px solid #000000;
        color: #ebebeb;
        font-size: clamp(0.9rem, calc(0.3vw + 0.8rem), 1.8rem);
        padding: min(1.25rem, 5%);
        position: relative;
        height: clamp(4rem, calc(3vw + 9rem), 20rem);
        width: clamp(8rem, calc(5vw + 18rem), 28rem);
        
        h4 {
          margin-top: 0.625rem;
        }

        span.estado_promocionada,
        span.estado_cursando,
        span.estado_pendiente {
          border-radius: 20px;
          color: black;
          display: grid;
          justify-self: flex-end;
          padding: 0.375rem;
          width: fit-content; // !
        }

        span.estado_pendiente {
          background-color: #dbdbdb;
        }

        span.estado_promocionada {
          background-color: rgb(4, 247, 97);
        }

        span.estado_cursando {
          background-color: #e5ff00;
        }

        .materias__item-detalle {
          position: absolute;
          bottom: 10px;
          left: 20px;
          right: 20px;
          @include d-flex(row, space-between, center, 0, 0);
          
          a:link,
          a:visited,
          a:hover,
          a:active {
            text-decoration: none;
            color: #ebebeb;
          }
        }
      }
    }
  }
}

/* Materias */
