#navegacion {
  position: fixed;
  z-index: 3;
  right: 1rem;
  bottom: 1rem;
  @include d-flex(column, center, center, 0, 0);

  a {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 0.2rem;
    padding: 0.1rem;
    @include d-flex(row, center, center, 0, 0);

    .navegacion__items {
      height: 2rem;
      width: 2rem;
    }
  }
}


.button__show {
  animation: button__show 700ms ease both;
}

.button__hide {
  animation: button__hide 700ms ease both;
}

@keyframes button__show {
  0% {
    transform: scale(0) rotate(120deg);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes button__hide {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: scale(0) rotate(120deg);
    opacity: 0;
    visibility: hidden;
  }
}
