#navegacion {
  // display: flex;
  // flex-direction: column;
  @include d-flex(column, center, center, 0, 0);
  position: fixed;
  z-index: 3;
  right: 1rem;
  bottom: 1rem;

  a {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include d-flex(row, center, center, 0, 0);
    padding: 0.1rem;
    margin-bottom: 0.2rem;

    .navegacion__items {
      height: 2rem;
      width: 2rem;
    }
  }
}

.display-none {
  display: none;
}

.button__show {
  animation: button__show 700ms ease both;
}

.button__hide {
  animation: button__hide 700ms ease both;
}

@keyframes button__show {
  0% {
    transform: scale(0) rotate(120deg);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes button__hide {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: scale(0) rotate(120deg);
    opacity: 0;
    visibility: hidden;
  }
}
